#norway {
    background-image: url('https://res.cloudinary.com/dlsuopwkn/image/upload/v1672413298/norway_banner.jpg');
}
#brasil {
    background-image: url('https://res.cloudinary.com/dlsuopwkn/image/upload/v1674828291/fernandodenoronha.jpg');
}
#australia {
    background-image: url('https://res.cloudinary.com/dlsuopwkn/image/upload/v1672441833/bellfield_bagyfe.jpg');
}
#islandia {
    background-image: url('https://res.cloudinary.com/dlsuopwkn/image/upload/v1672442180/Reynisfjara_tjrp7n.jpg');
}
#canada {
    background-image: url('https://res.cloudinary.com/dlsuopwkn/image/upload/v1672442436/Athabasca_izke2o.jpg');
}